  <style>
    h1 {text-align: center;}
    .smallpictures{display: none;}
    .categorybutton{display: none;}
    .login-zone
    {display: none;
      background: black;
    position: absolute; width: 500px; height: 300px; left:350px; top:200px; }
    .signup-zone{display: none; background: black; position: absolute; width: 500px; height: 300px; left: 350px; top: 200px;}
    .passwords-do-not-match{display: none; position: absolute; top: 245px; left: 150px; color: red;}
    .name-required{display: none; position: absolute; top: 93px; left: 150px; color: red;}
    .email-invalid{display: none; position: absolute; top: 123px; left: 150px; color: red;}
  </style>
